{% extends "base.html" %}

{% block title %}About Netmines{% endblock %}

{% block navbar %}
	<ul class="nav">
	   <li><a href="/announcements">Announcements</a></li>
	   <li><a href="/play">Play Netmines</a></li>
	   <li><a href="/rules">Rules</a></li>
	   <li><a href="/hiscores">Hiscores</a></li>
	   <li class="active"><a href="/about">About</a></li>
	</ul>
{% endblock%}

{% block hero %}
	<h1>ABOUT HERO BANNER.</h1>
{% endblock %}

{% block content %}
	<div class="span8 offset2">
		<div class="well well-large">
			{% for about in about_list %}
				<h4>{{ about.title }}</h4>
				{{ about.body }}
			{% endfor %}
		</div>
	</div>
{% endblock %}