{% extends "base.html" %}

{% block title %}Netmines{% endblock %}

{% block navbar %}
	<ul class="nav">
		<li class="active"><a href="/announcements">Announcements</a></li>
		<li><a href="/play">Play Netmines</a></li>
		<li><a href="/rules">Rules</a></li>
		<li><a href="/hiscores">Hiscores</a></li>
		<li><a href="/about">About</a></li>
	</ul>
{% endblock %}

{% block hero %}
	<h1>ANNOUNCE HERO BANNER.</h1>
{% endblock %}

{% block content %}
	<div class="span8 offset2">
	{% for announcement in announcement_list %}
		<div class="well well-large">
			<h4>{{announcement.title}}</h4>
			{{announcement.body}}
			<h6>Posted by {{announcement.poster}} on {{announcement.date}}</h6>
		</div>
	{% endfor %}
	</div>
{% endblock %}