{% extends "base.html" %}

{% block title %}Hiscores{% endblock %}

{% block navbar %}
    	<ul class="nav">
    		<li><a href="/announcements">Announcements</a></li>
			<li><a href="/play">Play Netmines</a></li>
			<li><a href="/rules">Rules</a></li>
			<li class="active"><a href="/hiscores">Hiscores</a></li>
			<li><a href="/about">About</a></li>
   		</ul>
{% endblock%}

{% block hero %}
	<h1>HISCORES HERO BANNER.</h1>
{% endblock %}

{% block content %}
	<div class="span8 offset2">
		<div class="well well-large">
			INSERT HISCORES
		</div>
	</div>
{% endblock %}