{% extends "base.html" %}

{% block navbar %}
  <ul class="nav">
    <li><a href="/play">Play</a></li>
    <li><a href="/hiscores">Hiscores</a></li>
    <li class="active"><a href="/about">About</a></li>
  </ul>
{% endblock%}

{% block leftpanel %}
    <div class="well well-large">
      {% for about in about_list %}
        <h3>{{ about.title }}</h3>
        <h5>{{ about.body }}</h5>
      {% endfor %}
    </div>
  
{% endblock %}

{% block rightpanel %}
<img src="http://zytoz.com/img/screen.png"
            style=" width: 250px; height: 250px;">
<div class='imgside'>
  <img src="http://zytoz.com/img/screen2.png"
            style=" width: 250px; height: 250px;">
</div>
{% endblock %}