<!DOCTYPE html>
<html>
<head>
  <title>UWO Student Services Online</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
  <link href="http://4474.moberemk.com/css/bootstrap.css" rel="stylesheet" media="screen">
  <link href="http://4474.moberemk.com/css/style.css" rel="stylesheet" media="screen">
</head>
<body>
  <div class="container" id="login_content">
    <div class="content_box" style="padding-left: 10px; padding-right: 10px;">
    <h1>Student Center</h1>
    <img src="http://4474.moberemk.com/img/banner.jpg" alt="Student Center" style="width: 33%; float: right;" class="img-polaroid" />
    <p>Welcome to the Student Center. To begin, log in with your Western sign-in information.</p>
      <form class="form-vertical" action='/login' method="POST">
        <fieldset>
          <div id="legend">
            <legend class="hide">Login</legend>
          </div>
          <div class="control-group">
            <!-- Username -->
            <label class="control-label"  for="username">Username</label>
            <div class="controls">
              <input type="text" id="username" name="username" placeholder="" class="input-xlarge">
            </div>
          </div>

          <div class="control-group">
            <!-- Password-->
            <label class="control-label" for="password">Password</label>
            <div class="controls">
              <input type="password" id="password" name="password" placeholder="" class="input-xlarge">
            </div>
          </div>


          <div class="control-group">
            <!-- Button -->
            <div class="controls">
              <button class="btn btn-success">Login</button>
              <a href="#">Forgot your password?</a>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="http://4474.moberemk.com/js/bootstrap.min.js"></script>
</body>
</html>