<!DOCTYPE html>
<html>
<head>
  <title>UWO Student Services Online</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
  <link href="css/bootstrap.css" rel="stylesheet" media="screen">
  <link href="css/style.css" rel="stylesheet" media="screen">
</head>
<body>
  <div class="row">
    <div id="sidebar" class="span3">
      <img id="user" src="img/default.jpg" alt="John Smith" />
      <h2>John Smith</h2>
      <ul class="unstyled">
        <li>
          <h3>2nd year, Faculty of Science</h3>
          <p>Honors Specialization in Computer Science</p>
        </li>
        <li>
          <h3>University e-mail</h3>
          <p><a href="mailto:jsmith@uwo.ca">jsmith@uwo.ca</a></p>
        </li>
        <li>
          <h3>Current Telephone Number</h3>
          <p>(999) 999-9999</p>
        </li>
        <li>
          <h3>Current Address</h3>
          <p>53-925 Lawson Road</p>
          <p>London ON Canada N6G 4X3</p>
        </li>
        <li>
          <h3>Academic Advisor</h3>
          <p>Dr. Jane Doe</p>
          <p><a href="mailto:jdoe2@uwo.ca">jdoe2@uwo.ca</a></p>
        </li>
      </ul>
    </div>
    <div id="content" class="span9">
      <h1>Student Center</h1>
      <div class="row">
        <div class="span6">
          <div class="content_box" id="week">
            <h2>Your Week</h2>
          </div>
          <div class="content_box" id="finances">
            <h2>Your Finances</h2>
          </div>
        </div>
        <div class="span3">
          <div class="content_box" id="holds">
            <h2>Your Holds</h2>
          </div>
          <div class="content_box" id="enrollment">
            <h2>Enrollment</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
</body>
</html>