{% extends "base.html" %}

{% block navbar %}
  <ul class="nav">
    <li class="active"><a href="/play">Play</a></li>
    <li><a href="/hiscores">Hiscores</a></li>
    <li><a href="/about">About</a></li>
  </ul>
{% endblock%}

{% block leftpanel %}
  <div class="well">
    <div>
      <h1>
        Game goes here!
      </h1>
      <p>
        Boom Boom
      </p>
    </div>
  </div>
{% endblock %}

{% block rightpanel %}
  <div class="well">
    <div>
      <h1>
        Rules go here!
      </h1>
      <p>
        OMG rulez.
      </p>
    </div>
  </div>
{% endblock %}